
########################################
# 1. Scan the entire NAS media directory
########################################

media_dir=/mnt/storage

########################################
# 2. More precise UI name in VLC
########################################

friendly_name=<DLNA_FRIENDLY_NAME>

########################################
# 3. Auto-detect media changes
########################################

inotify=yes

########################################
# 4. DLNA port
########################################

port=8200

########################################
# 5. Enable folder-based browsing in VLC
########################################

root_container=B

########################################
# 6. Daemon & Socket Settings
########################################

Presentation URL (helps VLC recognise folder-tree properly)
presentation_url=http://<LAN_IP>:8200/

########################################
# END
########################################